<% provide(:title, 'HOME') %>

    <div class="main-wrapper">

      <!-- HEADER -->
      <div class="header clearfix">

        <!-- TOPBAR -->
        <%= render 'layouts/topbar' %>

        <!-- NAVBAR -->
        <%= render 'layouts/navbar' %>

      </div>

      <!-- BANNER -->
      <div class="bannercontainer">
        <div class="fullscreenbanner-container">
          <div class="fullscreenbanner">
            <ul>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                <%= image_tag("home/banner-slider/ocean.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
                <div class="slider-caption container">
                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="370"
                    data-y="54"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    <%= image_tag("home/banner-slider/mini.png", :alt => "slider-image") %>
                  </div>

                  <div class="tp-caption rs-caption-2 sft"
                    data-hoffset="0"
                    data-y="119"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Canvas Sneaker
                  </div>

                  <div class="tp-caption rs-caption-3 sft"
                    data-hoffset="0"
                    data-y="185"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Exclusive to <br>
                    BigBag <br>
                    <small>Spring / Summer 2016</small>
                  </div>
                  <div class="tp-caption rs-caption-4 sft"
                    data-hoffset="0"
                    data-y="320"
                    data-speed="800"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll">
                      <%#= link_to potepan_single_product_path, class: 'btn primary-btn' do %>
                      <!--  Buy Now<i class="glyphicon glyphicon-chevron-right"></i> -->
                      <%# end %>
                    </span>
                  </div>
                </div>
              </li>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                <%= image_tag("home/banner-slider/mountain3.jpg", :alt => "slidebg", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
                <div class="slider-caption container captionCenter">
                  <div class="tp-caption rs-caption-1 sft start captionCenterAlign"
                       data-x="center"
                       data-y="228"
                       data-speed="800"
                       data-start="1500"
                       data-easing="Back.easeInOut"
                       data-endspeed="300">
                    <%= image_tag("home/banner-slider/mini.png", :alt => "slider-image") %>
                  </div>

                  <div class="tp-caption rs-caption-2 sft captionCenterAlign"
                       data-x="center"
                       data-y="50"
                       data-speed="800"
                       data-start="2000"
                       data-easing="Back.easeInOut"
                       data-endspeed="300">
                    Exclusive to BigBag
                  </div>

                  <div class="tp-caption rs-caption-3 sft captionCenterAlign"
                       data-x="center"
                       data-y="98"
                       data-speed="1000"
                       data-start="3000"
                       data-easing="Power4.easeOut"
                       data-endspeed="300"
                       data-endeasing="Power1.easeIn"
                       data-captionhidden="off">
                    Canvas Sneaker
                  </div>

                  <div class="tp-caption rs-caption-4 sft captionCenterAlign"
                       data-x="center"
                       data-y="156"
                       data-speed="800"
                       data-start="3500"
                       data-easing="Power4.easeOut"
                       data-endspeed="300"
                       data-endeasing="Power1.easeIn"
                       data-captionhidden="off">
                    <span class="page-scroll">
                      <%#= link_to potepan_single_product_path, class: 'btn primary-btn' do %>
                      <!--  Buy Now<i class="glyphicon glyphicon-chevron-right"></i> -->
                      <%# end %>
                    </span>
                  </div>
                </div>
              </li>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                <%= image_tag("home/banner-slider/forest.jpg", :alt => "slidebg", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
                <div class="slider-caption container">
                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="0"
                    data-y="85"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    <%= image_tag("home/banner-slider/mini.png", :alt => "slider-image") %>
                  </div>

                  <div class="tp-caption rs-caption-2 sft "
                    data-hoffset="0"
                    data-y="119"
                    data-x="800"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Canvas Sneaker
                  </div>

                  <div class="tp-caption rs-caption-3 sft"
                    data-hoffset="0"
                    data-y="185"
                    data-x="800"
                    data-speed="1000"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Exclusive to <br>
                    BigBag <br>
                    <small>Spring / Summer 2016</small>
                  </div>

                  <div class="tp-caption rs-caption-4 sft"
                    data-hoffset="0"
                    data-y="320"
                    data-x="800"
                    data-speed="800"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll">
                      <%#= link_to potepan_single_product_path, class: 'btn primary-btn' do %>
                      <!--  Buy Now<i class="glyphicon glyphicon-chevron-right"></i> -->
                      <%# end %>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix">
        <div class="container">
          <div class="row featuredCollection">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>人気カテゴリー</h4>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail">
                <div class="imageWrapper">
                  <%= image_tag("home/featured-collection/shirts.jpg", :alt => "feature-collection-image") %>
                  <div class="masking">
                    <%= link_to 'TO SHIRTS PRODUCTS', potepan_products_path(category: 'SHIRTS'), class: 'btn viewBtn'  %>
                  </div>
                </div>
                <div class="caption">
                  <h4><%= link_to 'SHIRTS', potepan_products_path(category: 'SHIRTS') %></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail">
                <div class="imageWrapper">
                  <%= image_tag("home/featured-collection/bag.jpg", :alt => "feature-collection-image") %>
                  <div class="masking">
                    <%= link_to 'TO BAGS PRODUCTS', potepan_products_path(category: 'BAGS'), class: 'btn viewBtn'  %>
                  </div>
                </div>
                <div class="caption">
                  <h4><%= link_to 'BAGS', potepan_products_path(category: 'BAGS') %></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail">
                <div class="imageWrapper">
                  <%= image_tag("home/featured-collection/mag.jpg", :alt => "feature-collection-image") %>
                  <div class="masking">
                    <%= link_to 'TO MUGS PRODUCTS', potepan_products_path(category: 'MUGS'), class: 'btn viewBtn'  %>
                  </div>
                </div>
                <div class="caption">
                  <h4><%= link_to 'MUGS', potepan_products_path(category: 'MUGS') %></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row featuredProducts">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>新着商品</h4>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="owl-carousel featuredProductsSlider">
               <% @new_arrivals.each.with_index do |product, i| %>
                <div class="slide">
                  <div class="productImage clearfix">
                   <%= image_tag(@new_arrival_images[i], :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" data-target=<%= "#quick-view-#{i}" %> class="btn btn-default productView">PRODUCTS DETAILS</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h5><%= link_to product.name, potepan_product_path(product.id) %></h5>
                    <h4 class='text-left'><%= product.prices.second.money %></h4>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
                      <!-- </ul>
                    </div>
                  </div> -->
                  <!-- <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>1990円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-02.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>1490円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-03.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>790円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-04.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>1090円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-05.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>1990円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-06.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                   <h3>1490円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-07.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>790円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-09.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                      <li><a data-toggle ="modal" href =".quick-view" class ="btn btn-default productView">VIEW</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>商品タイトル</h5>
                    </a>
                    <h3>1090円</h3>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row latestArticles">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>お役立ち記事</h4>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><%= link_to '記事タイトル', potepan_blog_single_left_sidebar_path %></h5>
                <span class="meta">2016/9/16</span>
                <%= link_to potepan_blog_single_left_sidebar_path  do %>
                  <%= image_tag("home/articles/articles-01.jpg", :alt => "article-image") %>
                <% end  %>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><%= link_to '記事タイトル', potepan_blog_single_left_sidebar_path %></h5>
                <span class="meta">2016/9/16</span>
                <%= link_to potepan_blog_single_left_sidebar_path  do %>
                  <%= image_tag("home/articles/articles-02.jpg", :alt => "article-image") %>
                <% end  %>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><%= link_to '記事タイトル', potepan_blog_single_left_sidebar_path %></h5>
                <span class="meta">2016/9/16</span>
                <%= link_to potepan_blog_single_left_sidebar_path  do %>
                  <%= image_tag("home/articles/articles-03.jpg", :alt => "article-image") %>
                <% end  %>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><%= link_to '記事タイトル', potepan_blog_single_left_sidebar_path %></h5>
                <span class="meta">2016/9/16</span>
                <%= link_to potepan_blog_single_left_sidebar_path  do %>
                  <%= image_tag("home/articles/articles-04.jpg", :alt => "article-image") %>
                <% end  %>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- LIGHT SECTION -->
        <%= render 'layouts/lightsection' %>

      <!-- FOOTER -->
        <%= render 'layouts/footer' %>

      <!-- COPY RIGHT -->
        <%= render 'layouts/copyright' %>

    </div>

    <!-- LOGIN MODAL -->
        <%= render 'layouts/loginmodal' %>

    <!-- SIGN UP MODAL -->
        <%= render 'layouts/signupmodal' %>

    <!-- PORDUCT QUICK VIEW MODAL -->
        <% @new_arrivals.each.with_index do |product, i| %>
          <%= render partial: 'potepan/common/product_view_modal', locals: {
                product: product,
                product_image: @new_arrival_images[i],
                product_order: i,
                variant: @new_arrival_variants[i]} %>
        <% end %>
